html, body {
	width: 100%; 
	height: 100%; 
	background-color: #fff;
	padding: 0px;
	margin: 0px;
}

#map {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

#commentsWindow {
	width: 380px;
	height: 525px;
	position: absolute;
	background: #ffffff;
	border-radius: 10px 10px 10px 10px;
}

.show {
	z-index: 3000;
}

#comments {
	padding: 0px;
	margin-left: 7px;
	margin-right: 7px;
	height: 140px;
	background-color: #ffffff;
	overflow: auto; 
	list-style-type: none;
	border-bottom: 1px solid gray;
}

.addCommentBlock label {
	color: #ff8663;
	margin-left: 15px 
}

.top {
	height: 50px;
	background-color: #ff8663; 
	border-radius: 10px 10px 0px 0px;
	color: #111111;	
	font-size: 12pt;
	position: relative;
	
}

#comments li {
	padding-left: 20px;
	padding-top: 10px;
}

#comments p {
	padding: 2px;
	margin: 0px;
}

.top div {
	position: absolute;
}

.second {
	width: 310px;
	left: 30px;
	right: 30px;
	top: 15px;
	color: #ffffff;
	white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.first {
	padding-left: 10px;
	top: 18px;
	width: 30px;
}

.third {
	top: 18px;
	width:  30px;
	right: 0;
}

.addCommentBlock > input,
.addCommentBlock > label,
.addCommentBlock > button
{
	display: block;
}

.addCommentBlock input,
.addCommentBlock textarea{
	border-radius: 18px; 
	width: 333px;
	margin:  7px 15px;
	border: 1px solid gray; 
	padding-left: 15px;
}

#nameInp,
#companyInp {
	height: 36px;
	
}

#commentInp {
	height: 100px;
	padding-top: 10px;
}

#addBtn {
	position: relative;
	left: 280px;
	height: 40px;
	width: 85px;
	border-radius: 10px;
	background-color: #ff8663; 
	color: #ffffff;
}

#addBtn:hover {
	background-color: #ffffff;
	color: gray; 
}

#closeBtn:hover{
	cursor: pointer;
}

#noComments {
	padding-left: 10px
}

.hideNoComments{
	display: none;
}