body,html{height:100%}

ul {
	margin-top: 20px; 
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	overflow: auto;
}

#divChatPanel,
#leftCol,
#rightCol,
#divMessages {
	height: 100%;
}

#divMessages {
	border-left: 1px solid black;
}

#inpUserMessage {
	width: calc(100% - 280px);
	position: fixed;
	bottom: 10px;
	right: 10px;
}

#ulUsers,
#ulMessages {
	height: calc(100% - 50px)
}

.hide {
	display: none;
}

#leftCol {
	float: left;
	width: 250px;
}

#rightCol {
	margin-left: 250px;
}

.mesBody {
	word-wrap: break-word;
}

.avatar {
	float: left;
}

.messageInfo,
.userInfo {
	margin-left: 60px; 
	padding-left: 10px;
}
.userInfo {
	min-height: 40px;
	padding-top: 20px;
}

.messageBlock,
.userBlock {
	margin-top: 20px; 
	margin-left: 20px;
}

li {
	min-height: 60px;
}

li:hover {
	background-color: #F9F9F9;
}
